<div class="container-account">
  <ng-template #notFound><span>Não foi informado</span></ng-template>
  <main>
    <section >
      <div>
        <strong>
          ispb:
        </strong>
        <span *ngIf="bank?.ispb; else notFound">
          {{bank?.ispb}}
        </span>
      </div>

      <div>
        <strong>
          name:
        </strong>
        <span *ngIf="bank?.name; else notFound">
          {{bank?.name}}
        </span>
      </div>

      <div>
        <strong>
          fullName:
        </strong>
        <span  *ngIf="bank?.fullName; else notFound">
          {{bank?.fullName}}
        </span>
      </div>

    <div>
      <strong>
        code:
      </strong>
      <span *ngIf="bank?.code; else notFound">
        {{bank?.code}}
      </span>
    </div>
    </section>

    <section>
      <div class="content-account">
        <input
          type="number"
          placeholder="Número da conta"
          #account
        />
        <input
          type="number"
          placeholder="Agência"
          #agency
        />
      </div>
      <button (click)="saveData(agency.value, account.value, bank?.code)">Criar conta</button>
    </section>
  </main>
</div>

