<div class="container-account">
  <main>
    <section>
      <div>
        <strong>
          ispb:
        </strong>
        <span>
          00000000
        </span>
      </div>

      <div>
        <strong>
          name:
        </strong>
        <span>
          BCO DO BRASIL S.A.
        </span>
      </div>

      <div>
        <strong>
          fullName:
        </strong>
        <span>
          Banco do Brasil S.A.
        </span>
      </div>

    <div>
      <strong>
        code:
      </strong>
      <span>
        1
      </span>
    </div>
    </section>

    <section>
      <div class="content-account">
        <input type="number" placeholder="Número da conta">
        <input type="number" placeholder="Agência">
      </div>
      <button>Criar conta</button>
    </section>
  </main>
</div>

