<div class="content-header">
  <main>
    <h2>My Bank</h2>
    <div>
      <input type="number" placeholder="Digite o código do banco">
    </div>
  </main>

  <section>
    <div class="cards-bank" routerLink="/create-account">
      <h3>Nome do banco</h3>
      <strong>Nome completo</strong>
      <span>CONF NAC COOP CENTRAIS UNICRED</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span>70</span>
      </div>
    </div>
    <div class="cards-bank">
      <h3>Nome do banco</h3>
      <strong>Nome completo</strong>
      <span>CONF NAC COOP CENTRAIS UNICRED</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span>70</span>
      </div>
    </div>
    <div class="cards-bank">
      <h3>Nome do banco</h3>
      <strong>Nome completo</strong>
      <span>CONF NAC COOP CENTRAIS UNICRED</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span>70</span>
      </div>
    </div>
    <div class="cards-bank">
      <h3>Nome do banco</h3>
      <strong>Nome completo</strong>
      <span>CONF NAC COOP CENTRAIS UNICRED</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span>70</span>
      </div>
    </div>
    <div class="cards-bank">
      <h3>Nome do banco</h3>
      <strong>Nome completo</strong>
      <span>CONF NAC COOP CENTRAIS UNICRED</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span>70</span>
      </div>
    </div>

  </section>
</div>
