<div class="content-header">
  <main>
    <h2>My Bank</h2>
    <div>
      <input type="number" placeholder="Digite o código do banco">
    </div>
  </main>

  <section>
    <div *ngFor="let bank of banks" class="cards-bank" routerLink="/create-account">
      <h3>{{bank.name}}</h3>
      <strong>Nome completo</strong>
      <span>{{bank.fullName}}</span>
      <div class="content-code-bank">
        <strong>Código</strong>
        <span *ngIf="bank.code; else notFound">{{bank.code}}</span>
        <ng-template #notFound><span>Não tem código</span></ng-template>
      </div>
    </div>
  </section>
</div>
