<div class="container-home">
  <main>
    <h2>My Bank</h2>
    <button routerLink="/choose-bank">
      Criar nova conta
    </button>
  </main>

  <section>
    <div class="card">
      <h3>Nome da pessoa</h3>
      <div class="bank-info">
        <strong>Banco: </strong>
        <span>BCO DO BRASIL S.A.</span>
      </div>
    </div>
    <div class="card">
      <h3>Nome da pessoa</h3>
      <div class="bank-info">
        <strong>Banco: </strong>
        <span>BCO DO BRASIL S.A.</span>
      </div>
    </div>

  </section>
</div>

